# See http://help.github.com/ignore-files/ for more about ignoring files.

public/main.js

# Dependencies
node_modules
bower_components
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db
npm-debug*.log
